@model Ticket
@{ 

}

<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>
            <p class="card-title">From: @Model.User.Email</p>

            <p class="card-text"> @Model.Description.Substring(0, Math.Min(80, Model.Description.Length))</p>

            <div class="container">
                <div class="row">
                    <div class="col">
                        <p>Created On: @Model.initialDate</p>
                    </div>
                    <div class="col">
                        <p>Closed On: @Model.closeDate</p>
                    </div>
                    <div class="col">
                        <p>State: @Model.ResType</p>
                    </div>
                </div>
            </div>
            <a class="card-link" asp-area="" asp-controller="Tickets" asp-action="Details" asp-route-id="@Model.id">Details</a>
        </div>
    </div>
</div>